html {
  height: 100%;
  width: 100%;
}
body {
  background: url(./img/grill.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(255, 255, 255);
}
a.btn {
  text-decoration: none !important;
}
* {
  border-radius: 0 !important;
}

/* Custom facebook button */
.btn-facebook {
  color: rgb(255, 255, 255);
  background-color: rgb(59, 89, 152);
  border-color: rgb(59, 89, 152);
}
a.btn-facebook,
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(59, 89, 152);
  border-color: rgb(59, 89, 152);
}

/* Custom twitter button */
.btn-twitter {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 161, 243);
  border-color: rgb(29, 161, 243);
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(29, 161, 243);
  border-color: rgb(29, 161, 243);
}

/* Custom google button */
a.btn-google {
  color: rgb(0, 0, 0) !important;
}
.btn-google {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.open .dropdown-toggle.btn-google {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

/* Link color customization */
.row a {
  text-decoration: underline;
}
.row a:link, .row a:visited {
  color: inherit;
}
.row a:hover, .row a:active {
  color: inherit;
}
.plain-link {
  text-decoration:none !important;
}

/* Yelp Image */
.yelp-image{
  vertical-align:sub;
}

/* Contextual Background color customization */
.bg-danger {
  background-color: rgb(211, 47, 47);
}

/* Home Page list group customization */
.list-group,
.list-group-item {
  color: black;
  background-color: rgb(255, 255, 255);
}

/* Navbar color customization */
.navbar-default {
  background-color: #222222;
  border-color: #222222;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e6e6e6;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e6e6e6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e6e6e6;
  background-color: #222222;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e6e6e6;
  background-color: #222222;
}
.navbar-default .navbar-toggle {
  border-color: #222222;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #222222;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e6e6e6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e6e6e6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e6e6e6;
    background-color: #222222;
  }
}
