<div class="container-fluid">
  <div class="row">

    <!-- User already logged in -->
    <div ng-show="$ctrl.user" class="col-sm-4 col-sm-offset-4 text-center">
      <h1>Register</h1>
      <p class="bg-danger">
        Looks like you already have an account and are logged in.
      </p>
      <p>
        Search for burgers by heading <a href="/">home</a>.
      </p>
    </div>

    <!-- User not logged in -->
    <div ng-show="!$ctrl.user" class="col-sm-4 col-sm-offset-4 text-center">
      <h1>Register</h1>

      <p>
        Register to check in at your favorite burger joint.<br>
        Aready have an account? <a href="/login" class="">Login</a>
      </p>

      <!-- Register Buttons -->
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
          <p ng-show="!$ctrl.showEmailForm">
            <a class="btn btn-facebook btn-block" href="/api/auth/facebook" target="_self">
              <i class="fa fa-facebook"></i>  Register using Facebook
            </a>
          </p>

          <p ng-show="!$ctrl.showEmailForm">
            <a class="btn btn-twitter btn-block" href="/api/auth/twitter" target="_self">
              <i class="fa fa-twitter"></i>  Register using Twitter
            </a>
          </p>

          <p ng-show="!$ctrl.showEmailForm">
            <a class="btn btn-google btn-block" href="/api/auth/google" target="_self">
              <img src="../img/g-logo.png" width="18px" alt="" />  Register using Google
            </a>
          </p>

          <p>
            <button ng-click="$ctrl.emailButtonClick()"  onclick="this.blur();" class="btn btn-default btn-block" type="button" name="register-with-email">
              <span ng-if="$ctrl.showEmailForm">Register Using Social Media</span>
              <span ng-if="!$ctrl.showEmailForm">
                <i class="fa fa-envelope"></i>  Register Using Email
              </span>
            </button>
          </p>

        </div>
      </div>

      <!-- Error display -->
      <p class="bg-danger" ng-show="$ctrl.registerError">
        {{$ctrl.registerError}}
      </p>

      <!-- Email registration form -->
      <form ng-show="$ctrl.showEmailForm && !$ctrl.user" novalidate ng-submit="$ctrl.register('local')" class="css-form text-left">

        <div class="form-group">
          <label for="name" class="control-label">Name</label>

          <input type="text" ng-model="$ctrl.credentials.name" class="form-control" placeholder="Name" autofocus="autofocus" required />

        </div>

        <div class="form-group">
          <label for="email" class="control-label">Email</label>

          <input type="email" ng-model="$ctrl.credentials.email" class="form-control" placeholder="Email" required />

        </div>

        <div class="form-group">
          <label for="password" class="control-label">Password</label>

          <input type="password" ng-model="$ctrl.credentials.password" class="form-control" placeholder="Password" required />

        </div>

        <div class="form-group text-center">
          <button onclick="this.blur();" type="submit" class="btn btn-default">Register</button>
        </div>

      </form>
    </div>

  </div>
</div>
