<app-header></app-header>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4 col-sm-offset-4 text-center">
      <h1>Log In</h1>

      <p>
        Log in to check in at your favorite burger joint.<br> Don't have an account? <a href="/register" class="">Register</a>
      </p>

      <!-- Register Buttons -->
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
          <p ng-show="!$ctrl.showEmailForm">
            <a class="btn btn-facebook btn-block" href="/api/auth/facebook" target="_self">
              <i class="fa fa-facebook"></i> Log in using Facebook
            </a>
          </p>

          <p ng-show="!$ctrl.showEmailForm">
            <a class="btn btn-twitter btn-block" href="/api/auth/twitter" target="_self">
              <i class="fa fa-twitter"></i> Log in using Twitter
            </a>
          </p>

          <p ng-show="!$ctrl.showEmailForm">
            <a class="btn btn-google btn-block" href="/api/auth/google" target="_self">
              <img src="../img/g-logo.png" width="18px" alt="" /> Log in using Google
            </a>
          </p>

          <p>
            <button ng-click="$ctrl.emailButtonClick()" onclick="this.blur();" class="btn btn-default btn-block" type="button" name="button">
              <span ng-if="$ctrl.showEmailForm">Register Using Social Media</span>
              <span ng-if="!$ctrl.showEmailForm">
                <i class="fa fa-envelope"></i>  Log in with Email
              </span>
            </button>
          </p>

        </div>
      </div>

      <!-- Error display -->
      <p class="bg-danger" ng-show="$ctrl.loginError">
        {{$ctrl.loginError}}
      </p>

      <!-- Email Log in form -->
      <form novalidate ng-show="$ctrl.showEmailForm" ng-submit="$ctrl.login()" class="css-form text-left">

        <div class="form-group">
          <label for="email" class="control-label">Email</label>

          <input type="email" ng-model="$ctrl.credentials.email" class="form-control" placeholder="Email" autofocus="autofocus" required />

        </div>

        <div class="form-group">
          <label for="password" class="control-label">Password</label>

          <input type="password" ng-model="$ctrl.credentials.password" class="form-control" placeholder="Password" required />

        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-default">Log In</button>
        </div>

      </form>
    </div>

  </div>
</div>

<app-footer></app-footer>
